.container{
   margin-top: 30px;
   padding-left: 15px;
}

.posts{}

.post__container{}

.flex__container{
   display: flex;
   align-items: center;
}

.avatar{
   border-radius: 50%;
   height: 70px;
   width: 70px;
}
.avatar__container{
   margin-right: 15px;
}

.message{}

.likes{}
